{
  "env": {
    "cjs": {
      "plugins": [
        "transform-class-properties",
        "lodash",
        "transform-object-rest-spread"
      ],
      "presets": [
        ["env", { "loose": true }],
        "react",
        "stage-3",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    },
    "es": {
      "plugins": [
        "transform-class-properties",
        "lodash",
        "transform-object-rest-spread"
      ],
      "presets": [
        ["env", { "loose": true, "modules": false }],
        "react",
        "stage-3",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false,
            "labelFormat": "[filename]--[local]"
          }
        ]
      ]
    },
    "test": {
      "plugins": [
        "transform-class-properties",
        "lodash",
        "transform-object-rest-spread"
      ],
      "presets": [
        "env",
        "react",
        "stage-3",
        [
          "@emotion/babel-preset-css-prop",
          {
            "autoLabel": false
          }
        ]
      ]
    },
  }
}
